body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  padding-bottom: 5em;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.main-space-front {
  font-size: large;
}

.navigation-bar {
  background-color: #222;
  padding: 2em;
}

.main-link {
  margin: -5em;
}

.sub-nav {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
}

.link {
  padding: 2em;
  color: white;
  text-decoration-style: none
}

.wait {
  margin-top: 5em;
}

.event {
  border-bottom-style: dashed;
  border-bottom-width: 0.1em;
  max-width: 20em;
  margin: 0 auto;
  text-align: left;
}

.event .time {
  font-size: 0.5em;
  font-style: italic;
  text-align: right;
}

.event .user, .event .type, .event .repo {
  font-size: 1em;
  font-weight: bolder;
  text-align: left;
}
